body {
	font-family: 'Open Sans', sans-serif;
	background:#fff;
	background-size: cover;
	color: #303030;
	margin: 0;
}
b, strong {
    font-weight: bold;
    font-weight: 600;
}
body#login-page, body#forgot-pass  {
    background: url(../image/bback.jpg);   
}
a:focus, input:focus, button:focus {
    outline: none;
    border: none;
    outline: 0;
    box-shadow: none;
}
.pt15 {
    padding-top: 15px;
}
.btn-primary {
    background: #404246;
}
#login-page header img, #forgot-pass header img {
    max-width: 320px;
    width: 100%;
}
.has .panel{
 margin-bottom:0px!important;   
}
}
.all-caps {
    text-transform: uppercase;
}
a {
    color: #303030;
	    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #d1231f;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
img {
    max-width: 100%;
} 
.no-padding {
      padding: 0px !important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumb {
    margin-top: 8px;
}
.no-margin {
    margin: 0;
}
header {
    background-color: rgb(218, 41, 28);
    display: inline-block;
	width: 100%;
	    color: #fff;
		    font-size: 13px;
	   
}
header#search-page {
    padding-bottom: 15px;
	text-transform: capitalize;
}
header .container, .container {
    width: 100%;
	min-width:100%;
}
.supp-filter {
    padding-top: 10px;
}
#search-page .logo, #search-page .search-item, #search-page .supplier-btn, #search-page .downloads{ padding-top: 30px;}
#search-page .downloads {
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
}
.download-folder i {
    font-size: 50px;
    background: rgba(0,0,0,0);
    padding: 2px 15px 10px 15px;
}
h2 {
 margin: 5px 0;
    color: #d1231f;
}
.center {
    text-align: center;
}
.full {
    width: 100%;
}
.cols {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.contant {
    padding-top: 20px;
	min-height: 400px;
}
.half {
    width: 50%;   
}
.col-three {
    width: 33.33%;   
}
.col-four {
    width: 25%;   
}
.col-five {
    width: 20%;   
}
.login-well button.default {
    margin-top: 20px;
}
button.default {
    background: rgb(208, 36, 31);
    border: none;
    padding: 0px 10px 0px 5px;
    color: #fff;
    border-radius: 20px;
    text-transform: capitalize;
}
button:focus, a:focus {
outline:none;
}
.well {
    background: #fec211;
    border: none;
}
.login-well {  
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
}
.login-well .remember {
    padding-top: 100px;
}
.login-well span.ti-angle-right {
    border-left: solid 1px #999;
    line-height: 30px;
    padding: 8px 5px;
}
.login-well input[type="checkbox"] {
    height: auto;
    display: inline-block;
    width: auto;
}
.login-well input {
	width: 100%;
	background: rgb(250, 255, 191);
	border: none;
	height: 40px;
	padding: 0 10px;
}
input {
    height: 25px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
	    padding: 0;
}
#search .input-lg {
	box-shadow: none;
	height: 40px;
	line-height: 20px;
	padding: 0px 10px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	border-radius: 0;
	font-style: italic;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
#search .btn-lg {
	font-size: 15px;
    line-height: 14px;
    padding: 12px 15px 13px 15px;
    text-shadow: 0 1px 0 #FFF;
    border: none;
    background: #ddd;
    border-radius: 0;
}
#search .btn-lg:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
#search .btn-lg:hover, #search .btn-lg:focus {
    background: #444;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
#search .input-group-btn {
    padding-right: 5px;
}
#search .input-group-btn {
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}
#search-page .supplier-btn #supplier {
	width: 100%;
    background: #fff;
    border: none;
    color: red;
    padding: 0;
    height: 40px;
    border-radius: 0;
}
#search-page .in-block {
    display: inline-block;
    float: left;
    width: 100%; 
    padding-top: 0;
    text-transform: capitalize;
}
#search-page .in-block input[type="checkbox"] {
	top: 5px;
    margin: 0;
    display: inline-block;
    position: relative;
    border-radius: 0;
    height: 15px;
    width: 15px;
    opacity: 0.4;
}
#search-page .in-block input[type="radio"] {
    top: -1px;
    position: relative;
    float: left;
    height: 15px;
    width: 15px;
    opacity: 0.4;
    margin-right: 5px;
}
#search .btn-lg i {
    color: #fff;
    font-weight: 600;
}
.bottom-status {
    margin-top: 10px;
}
.bottom-status thead, .bottom-link thead {
    background: #ddd;
}

.bottom-link td, .bottom-status td {
    padding: 0 5px;
    font-size: 13px;
    white-space: nowrap;
}
table.pricing-table {
    font-weight: 600;
}
.pricing-table thead {
    background: #ddd;
}
.pricing-table thead td {
    padding: 10px;
}
.pricing-table td {
       border-bottom: solid 1.5px #ddd;
       padding:0px 3px;
}
.available-suppliers thead {
    background: #ddd;
}
.available-suppliers thead:nth-child(1) {
    border-bottom: solid 1px;
}
.breadcrumb {
    background: none;
	    margin-bottom: 0;
}
.bottol-border {
    border-bottom: solid 2px #999;
}
.tab-content > .tab-pane {
    border: solid 1px #000;
    padding: 5px;
}
.nav.nav-tabs li a {
    padding: 5px;
    border-radius: 0;
    border: solid 1px #000;
    color: #000;
    margin: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs li.active a {
	background: #ddd;
	color: #000;
	border: solid 1px #000;
	border-radius: 0;
	margin: 0;
}
.det-right h4 {
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    padding: 3px 7px;
}

.cost-price thead {
    background: #ddd;
}
.cost-price thead td {
    padding-left: 15px;
}
.cost-price thead td:nth-child(2) {
    border-left: solid 10px #fff;
}
.change-history thead {
    background: #CCC;
    background-color: #CCC;
}
.change-history thead td {
    padding: 0 5px;   
    font-weight: 600;
    font-size: 12px;
}
.change-history td {
    padding: 0px 3px;
    font-size: 11px;
   
    line-height: 25px;
}
.change-history thead tr td {
	font-weight: 600;
	hite-space: normal;
}
.change-history tr:nth-child(even) {background: #CCC}
img.status_product {
	margin-top: 20px;
	width: 15px;	
}
.bold-style {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}
hr.product-up {
    margin-top: 0;
    margin-bottom: 10px;
}
.border-top {
    border-top: solid 2px #999;
}
.btn-primary.productcount {
    padding: 1px 5px 1px 5px;
}
.fully-bold {
    font-weight: 600;
}
#table.border-top.fully-bold {
	font-size: 12px;
	padding-top: 10px;
	position: relative;
	z-index: 1;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
img.iconsize {
    max-width: 35px;
    margin-top: 5px;
}
img.iconsize2 {
    max-width: 28px;
    margin-top: 4px;
}
#scroller-icon {
    bottom: 50px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    z-index: 10;
    background: rgb(218, 41, 28);
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
#scroller-icon i {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
}
img.loader {
    max-width: 200px;
}
img.searchhoverimage {
    max-width: 70px;
}
.imghov {
      position: relative;
}
.showhover {
	position: fixed;
    display: none;
    left: 40%;
    background: transparent;
    z-index: 9;
    top: 50px;
    right: 50%;
    bottom: 0;
    min-width: 300px;
}
.imghov:hover .showhover {
    display: block;
}
.showhover img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    margin-top: auto;
    margin-bottom: auto;
    border: solid 2px #ddd;
    max-width: 100%;
}
.pd-left-no {
    padding-left: 0;
}
.verticalmiddle {
    margin-left: -14px;
    line-height: 30px;
}
#arprev, #arnext {
    width: 25px;
}
#table.border-top div {
    line-height: 70px;
}
#tab-supplier .supliertable td:nth-child(1) {
    width: 70px;
}
#tab-supplier .supliertable td:nth-child(2) {
    width: 270px;
}
.thumbnil .image .zoom_image {
	max-width: 100%;
}
#additional_image {
    margin-top: 10px;
	    margin-bottom: 20px;
}
.bottom-link {
    margin-top: 15px;
}
.additional_image img {
    width: 80px;
}
#arprev, #arnext {
    border: solid 1px #fff;
	    cursor: pointer;
}
#arprev:hover, #arnext:hover {
    border: solid 1px #ddd;
}
.thumbnil .image {
    position: relative;
}
.thumbnil .zoom-icon {
    position: absolute;
    z-index: 1;
    left: 40%;
    bottom: 10px;
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.thumbnil .zoom-icon img {
    width: 25px;
}
.arrows .arprevl, .arrows .arnextl {
    display: inline-block;
    float: left;
}
.seconddiv td {
    vertical-align: top;
}
#tab-item{float: left;
    width: 100%;}
#tab-item .det-leftb {
    width: 68%;
    float: left;
}
.det-right {
    float: left;
    width: 30.5%;
    margin-left:1.5%;
}
.firstdiv { 
	float: left;
	display: inline-block;
	width: 40%;
	margin-right: 15px;
}
.firstdiv #tablex {
    width: 100%;
}
#tab-supplier .supliertable td:nth-child(2) {    
    padding-right: 5px;
}
#tablex tr td:first-child{padding-right: 35px;}
.specdiv {
	float: left;
}
#tabley tr td:first-child{padding-right: 10px;}
.seconddiv #tabley tr td:first-child {
    white-space: nowrap;
}
.seconddiv #tabley thead tr td {
    padding-bottom: 0;
}
.seconddiv #tabley tr td {
    padding-bottom: 10px;
}
#tablez tr td:first-child{padding-right: 35px;}
.available-suppliers{    overflow-x: scroll;}

.available-suppliers thead:nth-child(2) td:nth-child(1) {
    min-width: 185px!important;
}
.available-suppliers td {
	/*min-width: 65px;*/
	padding:0px 3px;
	white-space: nowrap;
}
.firstdiv #tablex .left-cell, .firstdiv #tablez .left-cell {
    float: left;
    min-width: 70px;
}
.firstdiv #tablex .right-cell:after, .firstdiv #tablez .right-cell:after {
    content: "";
    display: inline-block;
    height: 0px;
    width: 100%;
}
.tab-content > .tab-pane.active {
    display: inline-block;
	    width: 100%;
}
.firstdiv #tablex .title-heading, .firstdiv #tablez .title-heading {
    background: #ddd;
}
#tab-advanced .cost-price td, td {
    vertical-align: top;
}
#tab-advanced .cost-price td:first-child {
    white-space: nowrap;
}
@media(min-width:992px) {
header#search-page {
	position: fixed;
}
#searchp {
    margin-top: 120px;
}
}
@media(min-width:1321px) {
#searchp {
    margin-top: 100px;
}
}
@media(min-width:768px) {

header#search-page {
	top: 0;
	z-index: 9;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}
header#search-page.active {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
}
